<div class="page-header">
  <%= link_to new_task_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Task
  <% end %>
  <h1>Listing tasks</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Completed</th>
            <th>Date</th>
            <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
            <tr>
                <td><%=task.title %></td>
                <td><%=task.description %></td>
                <td><%=task.start_date %></td>
                <td><%=task.due_date %></td>
                <% if task.completed == true %>
                    <td><span class="badge badge-pill badge-success">Done!</span></td>
                <%else%>    
                    <td><span class="badge badge-pill badge-danger">To Do</span></td>    
                <% end %>
                <td><%= task.created_at%></td>
                <td><%= link_to 'Edit', edit_task_path(task) %> /
                    <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                
            </tr>
      <% end %>
    </tbody>
  </table>
</div>