<div class="page-header">
  <%= link_to categories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_category_path(@category), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show category</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @category.title %></dd>

  <dt>Image:</dt>
  <dd><%= image_tag(@category.image_url, width: 600) if @category.image.present? %></dd>
</dl>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Completed</th>
      </tr>
    </thead>

    <tbody>
      <% @category.tasks.each do |task| %>
            <tr>
                <td><%=task.title %></td>
                <td><%=task.description %></td>
                <td><%=task.start_date %></td>
                <td><%=task.due_date %></td>
                <% if task.completed == true %>
                    <td><span class="badge badge-pill badge-success">Done!</span></td>
                <%else%>    
                    <td><span class="badge badge-pill badge-danger">To Do</span></td>    
                <% end %>
            </tr>
      <% end %>
    </tbody>
  </table>
</div>